@page "/users"
@inject UserService Service



<h3>Users</h3>

<AlertComponent IsVisible="@IsVisibleAlert" IsValid="@IsValid">
    <span>@AlertMessage</span>
</AlertComponent>

@if (UserList == null)
{
    <p>Loading.....</p>
    return;
}

<div>
    <a href="adduser" class="btn btn-outline-primary">
        <span class="oi oi-plus"></span>Add New
    </a>

</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Joined</th>
                <th>Name</th>
                <th>Actions</th>
            </tr> 
        </thead>
        <tbody>
            @foreach (var forecast in UserList)
            {
                <tr>
                    <td>@forecast.CreatedAt.ToLongDateString()</td>
                    <td>@forecast.FirstName @forecast.LastName</td>
                    <td>
                        <a class="nav-link" href="edituser/@forecast.UserId">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                        </a>
                        <a class="nav-link" @onclick="(args) => OnRemoveUserAsync(args, forecast)" href="users" @onclick:preventDefault>
                            <span class="oi oi-trash" aria-hidden="true"></span>Remove
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



@code {
    private List<User> UserList { get; set; }
    private List<User> FullUserList { get; set; }
    private string AlertMessage { get; set; }
    public bool IsVisibleAlert { get; set; }
    public bool IsValid { get; set; }



    protected override async Task OnInitializedAsync()
    {
        var users = await Task.Run(() => Service.GetAllUsers());
         UserList = users.ToList().OrderByDescending(x => x.CreatedAt).ToList();
    }

    private async Task OnRemoveUserAsync(MouseEventArgs e, User user)
    {
        IsVisibleAlert = true;

        if (await Service.RemoveUserAsync(user))
        {
            UserList.Remove(user);
            IsValid = true;
            AlertMessage = $"User removed [{user.FirstName}, {user.LastName}]";
        }
        else
        {
            IsValid = false;
            AlertMessage = $"User not removed [{user.FirstName}, {user.LastName}]";
        }


    }


}
